/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  /* height: 100vh; */
  overflow-y: scroll;
  margin: 0;
}
body {
  font-family: "DM Sans", sans-serif !important;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  background-color: var(--app-container);
}
:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4a4a4a;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2 e;
  --message-btn: #fff;
}
